.rating-border {
    height: 80%;
    margin-left: auto;
    margin-right: 1em;

    border-style: solid;
    border-width: thin;
    border-radius: 50%;

    aspect-ratio: 1/1;
    justify-content: center;
    align-content: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}