@page "/debug"
@using MyMusicTaste.Database
@using MyMusicTaste.Models
@using MyMusicTaste.Components.SearchComps

@rendermode InteractiveServer


@inject IDbRepository<Song> Repo

<h1>Debug</h1>

<div class="list-group">
    @for (int i = 0; i < 20; i++)
    {
        <SongSearchItem Song="@_song"/>
    }
</div>

@code {
    private Song _song { get; set; } = new();
    
    protected override void OnInitialized()
    {
        _song = Repo.GetById("66d1d6c36e6d7d803a3a7824");
    }

}