@attribute [Route(RouteTemplate)]

@using MongoDB.Bson
@using MongoDB.Driver
@using MyMusicTaste.Components.Forms
@using MyMusicTaste.Database

<PageTitle>Home</PageTitle>

<h1>Welcome to MyMusicTaste!!</h1>