@using MyMusicTaste.Components.SearchComps
@attribute [Route(RouteTemplate)]

@rendermode InteractiveServer

<InputText class="form-control mb-3" @oninput="UpdateQuery" @bind-Value="_searchQuery"/>

<div class="d-flex">
    <button type="button" class="btn btn-secondary" @onclick="ChangeTabToAll">All</button>
    <button type="button" class="btn btn-secondary" @onclick="ChangeTabToSongs">Songs</button>
    <button type="button" class="btn btn-secondary" @onclick="ChangeTabToUsers">Users</button>
</div>
<hr/>

@if (_currentTab == Tab.All)
{
    <h4>Songs</h4>
    <hr/>
    <SongSearch @ref="_allTabSongSearch" ResultsCount="4"/>
    
    <h4>Users</h4>
    <hr/>
    @* <UserSearch @ref="_allTabUserSearch" ResultsCount="4"/> *@
}

@if (_currentTab == Tab.Songs)
{
    <SongSearch @ref="_songTabSearch" ResultsCount="30"/>
}

@* @if (_currentTab == Tab.Users) *@
@* { *@
@*     <UserSearch @ref="_userTabSearch" ResultsCount="30"/> *@
@* } *@