@attribute [Route(RouteTemplate)]

@using MyMusicTaste.Database
@using MyMusicTaste.Models

@inject IDbRepository<User> UserRepository
@inject IIdentityProvider Identity


@if (_pageState == PageState.Loading)
{
    <PageTitle>Loading...</PageTitle>
    <p>Loading...</p>
}

@if (_pageState == PageState.UserNotFound)
{
    <p>User not found</p>
}

@if (_pageState == PageState.Loaded)
{
    <PageTitle>@_user!.Username</PageTitle>
}