.comment {
    /*display: flex;*/
    /*gap: var(--flex-gap);*/
    /*flex-direction: column;*/
    
    padding: 0.5em;
}

.comment-header {
    display: flex;
    align-items: center;
    gap: var(--flex-gap);

    height: 3em;
}

#thumbnail {
    cursor: pointer;
}

#username {
    cursor: pointer;
}