.comment {
    /*display: flex;*/
    /*gap: var(--flex-gap);*/
    /*flex-direction: column;*/
    
    padding: 0.5rem;
}

.comment-header {
    display: flex;
    align-items: center;
    gap: var(--flex-gap);

    height: 3em;
}

.comment-content {
    padding: 0.3rem 0.6rem;
    min-height: 7rem;
    width: 100%;
}

textarea:read-only {
    border-style: none;
    min-height: auto;
    resize: none;
}

textarea::selection {
    border-style: none;
}

#thumbnail {
    cursor: pointer;
}

#username {
    cursor: pointer;
}