@inherits LayoutComponentBase

<div>
    <NavMenu/>

    <main class="page d-flex justify-content-center">
        <article class="content p-4 w-75">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>