@using MongoDB.Driver
@using MyMusicTaste.Database
@using MyMusicTaste.Database.Models

<EditForm Model="_model" OnValidSubmit="Submit" FormName="NewSong">
    <DataAnnotationsValidator/>
    <label>
        Title:
        <InputText @bind-Value="_model.Title"/>
    </label>
    <label>
        Artist:
        <InputText @bind-Value="_model.Artist"/>
    </label>
    <button type="submit">Submit</button>
</EditForm>

@if (_submitted) {
    <p>Submitted!</p>
    <p>@_model.Title</p>
}