@using MongoDB.Driver
@using MyMusicTaste.Database
@using MyMusicTaste.Database.Operations

@inject ISongSubmission SongSubmission

<EditForm Model="_songDto" OnValidSubmit="SubmitAsync" FormName="NewSong">
    <DataAnnotationsValidator/>
    <label>
        Title:
        <InputText @bind-Value="_songDto.Title"/>
    </label>
    <label>
        Author:
        <InputText @bind-Value="_songDto.Author"/>
    </label>
    <button type="submit">Submit</button>
</EditForm>

@if (_submitted) 
{
    <p>Submitted!</p>
    <p>@_songDto.Title</p>
}

@if (_alreadyExists)
{
    <p>Song with this Title and Author already exists in the database.</p>
}