@using MyMusicTaste.Database

@inject IIdentityProvider Identity

<EditForm Model="_newUser" OnValidSubmit="SubmitAsync" FormName="RegisterUser">
    <DataAnnotationsValidator/>
    <label>
        Username:
        <InputText @bind-Value="_newUser.Username"/>
    </label>
    <br/>
    <label>
        Email:
        <InputText @bind-Value="_newUser.Email"/>
    </label>
    <br/>
    <label>
        Password:
        <InputText @bind-Value="_newUser.Password"/>
    </label>
    <button type="submit">Submit</button>
</EditForm>

@if (_submitted)
{
    <p>Submitted!</p>
    <p>@_newUser.Username</p>
}