@using MyMusicTaste.Database

@inject IIdentityProvider Identity

<EditForm Model="NewUserSignup" OnValidSubmit="SubmitAsync" FormName="UserSignup">
    <DataAnnotationsValidator/>
    <label>
        Username:
        <InputText @bind-Value="NewUserSignup.Username"/>
    </label>
    <br/>
    <label>
        Email:
        <InputText @bind-Value="NewUserSignup.Email"/>
    </label>
    <br/>
    <label>
        Password:
        <InputText @bind-Value="NewUserSignup.Password"/>
    </label>
    <button type="submit">Submit</button>
</EditForm>

@foreach (var error in _errors) 
{
    <p>@error</p>
}

@if (_submitted)
{
    <p>Submitted!</p>
    <p>@NewUserSignup.Username</p>
}