html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --border-radius: 0.4em;
    --flex-gap: 1em;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .8;
}

.general-info {
    display: flex;
    gap: 0.5em;
}

.general-info-main {
    flex: 3;
    padding: 0.6em;
}

.general-info-side{
    flex: 1;
    min-width: 20%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
}

.list-item-medium {
    display: flex;
    gap: var(--flex-gap);
    align-items: center;

    height: 6.8vh;
    margin: 0.1em;
    padding: 0.4em;

    background: white;
}

.simple-border {
    border-style: solid;
    border-color: #c2c2c2;
    border-radius: 0.4em;
}

.list-item-medium:hover {
    color: white;
    background-color: var(--bs-secondary);
    transition: background-color 0.3s ease,
                color 0.3s ease;
}

.item-text {
    padding: 0;
    margin: 0;
    font-size: 0.8em;
}

.song-title {
    font-size: 1.1em;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.z-1 {
    z-index: 1;
}
.z-2 {
    z-index: 2;
}
.z-3 {
    z-index: 3;
}
.z-4 {
    z-index: 4;
}
.z-100 {
    z-index: 100;
}
.z-101 {
    z-index: 101;
}
.z-102 {
    z-index: 102;
}
.z-103 {
    z-index: 103;
}
.z-n1 {
    z-index: -1;
}