html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --border-radius: 10%;
}

.general-info {
    display: flex;
    height: 30vh;
    gap: 0.5em;
}

.general-info-text {
    flex-grow: 1;
    padding: 0.6em;
}

.list-item-medium {
    display: flex;
    align-items: center;

    height: 60px;
    margin-bottom: 0.4em;
    padding: 0.1em 0.4em;

    background: white;

    border-style: solid;
    border-color: #c2c2c2;
    border-radius: 0.4em;
}

.list-item-medium:hover {
    color: white;
    background-color: var(--bs-secondary);
    transition: background-color 0.3s ease,
    color 0.3s ease;
}

.item-text {
    padding: 0;
    margin: 0;
    font-size: 0.8em;
}

.song-title {
    font-size: 1.1em;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}