@using MyMusicTaste.Database.Operations
@using MyMusicTaste.Models

@inject ISearchOperation<Song> Searcher

@if (_results == null)
{
    <p>Start typing in the search bar...</p>
}
else
{
    <div class="list-group">
        @foreach (var song in _results)
        {
            <SongSearchItem Song="song"/>
        }
    </div>
}