.cover-container {
    padding: 0.4em;
    height: 100%;
    aspect-ratio: 1/1;
}

.cover-placeholder {
    height: 100%;
    background: #6b6b6b;
    border-radius: 20%;
}

#container {
    height: 60px;
    padding: 0.1em 0.4em;
}

.item-text {
    padding: 0;
    margin: 0;
    font-size: 0.8em;
}

.song-title {
    font-size: 1.2em;
}