@using MyMusicTaste.Models

@inherits SearchComponent<Song>

@rendermode InteractiveServer


@if (Results == null)
{
    <p>Start typing in the search bar...</p>
}
else
{
    <div class="list-group">
        @foreach (var song in Results)
        {
            <SongSearchItem Song="song"/>
        }
    </div>
}

<p>
    Couldn't find the song you were looking for? <br/>
    Add it to our database!
</p>