#container {
    --b-radius: 0.4em;
    
    display: flex;
    align-items: center;
    
    height: 60px;
    margin-bottom: 0.4em;
    padding: 0.1em 0.4em;
    
    background: white;
    
    border-style: solid;
    border-color: #c2c2c2;
    border-radius: var(--b-radius);
}

#container:hover {
    color: white;
    background-color: var(--bs-secondary);
    transition: background-color 0.3s ease,
                color 0.3s ease;
}

.cover-container {
    padding: 0.4em;
    height: 100%;
    aspect-ratio: 1/1;
}

.cover-placeholder {
    height: 100%;
    background: #6b6b6b;
    border-radius: var(--b-radius);
}

.item-text {
    padding: 0;
    margin: 0;
    font-size: 0.8em;
}

.song-title {
    font-size: 1.1em;
}