@using MyMusicTaste.Components.Misc

@inject NavigationManager Navigation

@rendermode InteractiveServer

<button type="button" @onclick="GoToUserPage" class="list-item-medium">
    <Thumbnail ImageLink="@User!.ProfilePictureLink"></Thumbnail>

    <div class="px-2 text-start">
        <p class="item-text song-title">@User!.Username</p>
    </div>
</button>