@using MyMusicTaste.Models

@inherits SearchComponent<User>

@rendermode InteractiveServer

@if (Results == null)
{
    <p>Start typing in the search bar...</p>
}
else
{
    <div class="list-group">
        @foreach (var user in Results)
        {
            <UserSearchItem User="user"/>
        }
    </div>
}