.thumbnail-container {
    padding: 0.4em;
    height: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.thumbnail {
    max-height: 100%;
    border-style: none;
    border-radius: var(--border-radius);
}

.thumbnail-placeholder {
    height: 100%;
    background: #6b6b6b;
}

img {
    height: auto;
    object-fit: cover;
}